body {
    font-family: Arial, sans-serif;
    margin: 150px 0 0 0;
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 101;

    background-color: #BD93BD;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.header-title-div {
    display: flex;
    align-items: center;
}

.header-title {
    color: #925E78;
    padding-left: 30px;
}

.header-logo {
    border-radius: 50px;
    background: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

header img {
    width: 100px; 
    height: auto;
}

nav {
    display: none;
    align-items: center;
    justify-content: center;
}

ul ,
li,
a
{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

input,
textarea {
    margin-left: auto;
    margin-bottom: 0;
    border: 0px;
    border-radius: 4px;
}

button {
    background-color: #925E78;
    color: #fff;
    margin: 10px;
    padding: 8px 16px;
    display: flex;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-area {
    display: flex;
    align-items: center;
}

.menu-icon {
    padding: 29.5px 13.2px;
    font-size: 24px;
    cursor: pointer;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100px;
    left: -200px;
    background-color: #925E78;
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
}

@media screen  {
    .menu-icon {
        display: block;
    }

    nav {
        position: fixed;
        top: 120px;
        right: 0px;
        width: 20%;
        background-color: #925E78;
        text-align: right;
        z-index: 100;
    }

    .active-menu-bg {
        display: none;
        position: fixed;
        top: 120px;
        right: 0px;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        z-index: 99;
    }

    nav.active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 20px;
    }

    nav.active + .active-menu-bg {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li:hover .sub-menu {
        display: block;
    }
}

main {
    padding: 20px;
}

.store-description,
.recommended-products{
    background-color:#FFC0BD;
    color:#925E78 ;
    padding: 30px 20px;
    border-radius: 30px;
}

.store-description{
    display: flex;
    align-items: center;
    margin: 10% 5% 1% 5%;
}

.recommended-products {
    margin: 2% 5% 15% 5%;
}

footer {
    background-color: #BD93BD;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out
}

h1{
    text-align: left;
    margin: 0;
}
    
hr{
    border-color: #925E78;
}

.page-title {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background: #925E78;
    color: white;
    padding: 10px 0;
}

.page-title > a {
    padding: 5px 10px;
    margin: 0 10px;
}

.page-subtitle {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #FFC0BD;
    color: white;
    padding: 10px 0;
}

.page-subtitle > span,
.product-card > span {
    width: 15%;
    text-align: center;
    font-size: 24px;
    color: white;
}

.product-card > span {
    width: 20%;
}

.title-active {
    background: #FFC0BD;
    border-radius: 10px;
}

.product-card {
    width: 75%;
    background: #FFC0BD;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product.product-card {
    width: 60%;
}

.product-card > span > a > img {
    width: 100%;
}

.product-card > img {
    width: 200px;
}

.pink-frame {
    background: #FFC0BD;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.qa-frame.pink-frame {
    width: 50%;
    display: block;
    text-align: left;
}

h2.ques {
    color: #925E78;
    margin: 20px 0 10px 0;
}

h2.ans {
    color: white;
    margin: 10px 0 20px 0;
}

.member-info > div.member-original {
    width: 20%;
    border-radius: 30px 0 0 30px;
}

.member-info > div.member-original + * {
    border-radius: 0 30px 30px 0;
}

.pink-frame > h1 {
    color: white;
    border-bottom: 3px solid #925E78;
    padding-bottom: 25px;
    width: 100%;
    text-align: center;
}

.pink-frame-submit {
    margin: 0;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 32px;
    display: block;
    align-self: center;
    width: fit-content;
}

.login-container,
.signin-container,
.member-info,
.QA,
.products-container,
.product-list-container {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.products-container,
.product-list-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
    gap: 20px;
}

.login-container > div {
    width: 30%;
}

.signin-container > div,
.member-info > div {
    width: 40%;
    margin-bottom: 180px;
}

form, .original-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

form > span, .original-info > span {
    display: inline-flex;
    width: 100%;
}

form > span > label > h1, .original-info > span > label > h1 {
    color: white;
}

form > span > input,
form > span > textarea,
.original-info > span > input,
.original-info > span > textarea {
    flex: auto;
}

label {
    margin-bottom: 5px;
}

input::placeholder {
    font-size: 20px;
}

.description-pho{
    float: left;
    height: 200px;
    display:block;
    margin: auto;
}

.store-description-content {
    width: 80%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.store-description-content > h1 {
    padding-top: 10px;
    font-size: 32px;
    text-align: center;
}

.recommended-products > h1 {
    font-size: 32px;
}


/* 圖片輪播 */

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  .slides {
    display: flex;
  }
  
  .slides a img {
    width: 100%;
    display: none;
  }
  
  .slides a img:first-child {
    display: block;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
/* 圖片輪播 end */

.review-form.pink-frame {
    width: 75%;
    padding: 30px;
    align-items: start;
    gap: 10px;
}

.review-form > div > .pink-frame-submit {
    font-size: 22px;
    align-self: end;
}

.review-form > div > textarea {
    width: 100%;
}

.review-title {
    font-size: 22px;
    color: white;
    background: #925E78;
    border-radius: 10px;
    padding: 10px 20px;
}

.review-stars {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}

.stars {
    color: white;
    font-size: 32px;
}

.stars.active {
    color: #FFD700;
}

.review-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout-button {
    font-size: 22px;
    position: relative;
    left: 33%;
    padding: 10px 50px;
    border-radius: 10px;
}

.browse-history-container {
    margin: 30px 15% 150px 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
}

.history-item {
    background: #FFC0BD;
    padding: 20px;
    width: 25%;
}

.history-item > a > img {
    width: 100%;
}

.product-list-title {
    color: #925E78;
    background: #FFC0BD;
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 30px;
}

.product-list-title-div {
    width: 64%;
    padding: 0 30px;
    display: flex;
}

.product-details {
    margin-left: 50px;
    width: 60%;
}

.product-title {
    font-size: 22px;
    font-weight: bold;
    color: #925E78;
    margin: 0;
}

.product-content {
    color: white;
    font-weight: bold;
    margin: 5px 0;
}

.product-subinfo {
    display: -webkit-inline-box;
    -webkit-box-pack: end;
    width: 100%;
}

.price-storage {
    display: inline-flex;
    height: 100%;
}

.price-storage > p {
    font-size: 18px;
    color: #925E78;
    font-weight: bold;
    margin: 0;
    padding-top: 15px;
}